
@import 'base/*'
html
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box

*, *:before, *:after
  box-sizing border-box
  margin 0

html,
body,
#__nuxt,
#__layout
  height 100%
  position relative
  width 100%

body
  font-family $messina
  font-weight 400
  color $colors-grey
  font-size $test
  line-height $lineHeight
