@font-face {
    font-family:'Messina Sans';
    src: url('~/assets/fonts/messina_sans_light.eot');
  src: url('~/assets/fonts/messina_sans_light.eot?#iefix') format('embedded-opentype'),
    url('~/assets/fonts/messina_sans_light.woff2') format('woff2'),
    url('~/assets/fonts/messina_sans_light.woff') format('woff'),
    url('~/assets/fonts/messina_sans_light.svg#messina_sans_light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Messina Sans';
    src: url('~/assets/fonts/messina_sans_regular.eot');
  src: url('~/assets/fonts/messina_sans_regular.eot?#iefix') format('embedded-opentype'),
    url('~/assets/fonts/messina_sans_regular.woff2') format('woff2'),
    url('~/assets/fonts/messina_sans_regular.woff') format('woff'),
    url('~/assets/fonts/messina_sans_regular.svg#messina_sans_regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Messina Sans';
    src: url('~/assets/fonts/messina_sans_semiBold.eot');
  src: url('~/assets/fonts/messina_sans_semiBold.eot?#iefix') format('embedded-opentype'),
    url('~/assets/fonts/messina_sans_semiBold.woff2') format('woff2'),
    url('~/assets/fonts/messina_sans_semiBold.woff') format('woff'),
    url('~/assets/fonts/messina_sans_semiBold.svg#messina_sans_semiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
$messina = 'Messina Sans'
$light = 300
$semi = 600
