json('./../../variables.json')
$test = 15px
$fontSizeUnit = 100vw / 2880
$unitH = 100vw / 2880//1vw / 18
$unitV = 100vh / 1760 //1vh / 11
$lineHeight = 1.25

$messina = 'Messina Sans', sans-serif
$hawthorn = 'Hawthorn', serif
$light = 300
$semi = 600
